# New York City Taxi Fare Prediction

## Team member：
### Haoun Guo          hg1483
### Da Cai             dc4069
### Naisheng Zhang     nz862

In [92]:
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense, Dropout, BatchNormalization
from keras.callbacks import EarlyStopping
from keras import optimizers
from keras import regularizers

## Step 1 : Data load and clean

In [93]:
TRAIN_PATH = '../input/train.csv'
TEST_PATH = '../input/test.csv'
SUBMISSION_NAME = 'submission.csv'
DATASET_SIZE = 200000
# datatypes = {'key': 'str', 
#               'fare_amount': 'float32',
#               'pickup_datetime': 'str', 
#               'pickup_longitude': 'float32',
#               'pickup_latitude': 'float32',
#               'dropoff_longitude': 'float32',
#               'dropoff_latitude': 'float32',
#               'passenger_count': 'uint8'}
train = pd.read_csv(TRAIN_PATH, nrows=DATASET_SIZE)
test = pd.read_csv(TEST_PATH)
# train.head()
# test=test.drop('key', axis=1)
train.head()
print('Old size: %d' % len(train))
train = train[train.fare_amount>=0]
print('New size: %d' % len(train))

Old size: 200000
New size: 199987

remove missing data

In [94]:
print('Old size: %d' % len(train))
train = train.dropna(how = 'any', axis = 'rows')
print('New size: %d' % len(train))

Old size: 199987
New size: 199986

## step 2: Data clean

### After analysis of data, we need to remove some noisy from data.
* Lats and lons that do not belong to New York.
* Negative fare.
* Fare greater than 250 (this seems to be noisy data).
* Rides that begin and end in the same location.

make map small

In [95]:
# def select_within_boundingbox(df, BB):
#     return (df.pickup_longitude >= BB[0]) & (df.pickup_longitude <= BB[1]) & \
#            (df.pickup_latitude >= BB[2]) & (df.pickup_latitude <= BB[3]) & \
#            (df.dropoff_longitude >= BB[0]) & (df.dropoff_longitude <= BB[1]) & \
#            (df.dropoff_latitude >= BB[2]) & (df.dropoff_latitude <= BB[3])
            
# # load image of NYC map
# BB = (-74.5, -72.8, 40.5, 41.8)
# print('Old size: %d' % len(train))
# train = train[select_within_boundingbox(train, BB)]
# print('New size: %d' % len(train))

In [64]:
print('Old size: %d' % len(train))
def clean(df):
    # Delimiter lats and lons to NY only
    df = df[(-76 <= df['pickup_longitude']) & (df['pickup_longitude'] <= -72)]
    df = df[(-76 <= df['dropoff_longitude']) & (df['dropoff_longitude'] <= -72)]
    df = df[(38 <= df['pickup_latitude']) & (df['pickup_latitude'] <= 42)]
    df = df[(38 <= df['dropoff_latitude']) & (df['dropoff_latitude'] <= 42)]
    # Remove possible outliers
    df = df[(0 < df['fare_amount']) & (df['fare_amount'] <= 250)]
    # Remove inconsistent values
    df = df[(df['dropoff_longitude'] != df['pickup_longitude'])]
    df = df[(df['dropoff_latitude'] != df['pickup_latitude'])]
    
    return df
train = clean(train)
print('New size: %d' % len(train))
train.head()

Old size: 193666
New size: 193666

                             key       ...         passenger_count
0    2009-06-15 17:26:21.0000001       ...                       1
1    2010-01-05 16:52:16.0000002       ...                       1
2   2011-08-18 00:35:00.00000049       ...                       2
3    2012-04-21 04:30:42.0000001       ...                       1
4  2010-03-09 07:51:00.000000135       ...                       1

[5 rows x 8 columns]

## step 3.1 : Time features


* * Year, Month, Day, Hour, Weekday
* * Night (between 16h and 20h, from monday to friday)
* * Late night (between 20h and and 6h)

In [96]:
def late_night (row):
    if (row['hour'] <= 6) or (row['hour'] >20):
        return 1
    else:
        return 0
def night (row):
    if ((row['hour'] <= 20) and (row['hour'] > 16)) and (row['weekday'] < 5):
        return 1
    else:
        return 0    
def day_time(row):
    if (row['hour'] <= 16) and (row['hour'] >6):
        return 1
    else:
        return 0
def spring(row):
    if (row['month'] >=4) and (row['month'] <7):
        return 1
    else:
        return 0  
def summer(row):
    if (row['month'] >=7) and (row['month'] <10):
        return 1
    else:
        return 0
def fall(row):
    if (row['month'] >=10) and (row['month'] <=12):
        return 1
    else:
        return 0  
def winter(row):
    if (row['month'] >=1) and (row['month'] <4):
        return 1
    else:
        return 0  

def add_time_features(df):
    df['pickup_datetime'] =  pd.to_datetime(df['pickup_datetime'], format='%Y-%m-%d %H:%M:%S %Z')
    df['year'] = df['pickup_datetime'].apply(lambda x: x.year)
    df['month'] = df['pickup_datetime'].apply(lambda x: x.month)
    df['day'] = df['pickup_datetime'].apply(lambda x: x.day)
    df['hour'] = df['pickup_datetime'].apply(lambda x: x.hour)
    df['weekday'] = df['pickup_datetime'].apply(lambda x: x.weekday())
    df['pickup_datetime'] =  df['pickup_datetime'].apply(lambda x: str(x))
    df['night'] = df.apply (lambda x: night(x), axis=1)
    df['late_night'] = df.apply (lambda x: late_night(x), axis=1)
    df['day_time'] = df.apply (lambda x: day_time(x), axis=1)
    df['spring']=df.apply (lambda x: spring(x), axis=1)
    df['summer']=df.apply (lambda x: summer(x), axis=1)
    df['fall']=df.apply (lambda x: fall(x), axis=1)
    df['winter']=df.apply (lambda x: winter(x), axis=1)
    # Drop 'pickup_datetime' as we won't need it anymore
    df = df.drop('pickup_datetime', axis=1)
    return df
train = add_time_features(train)
test = add_time_features(test)
train.head(100)

                              key  fare_amount   ...    fall  winter
0     2009-06-15 17:26:21.0000001         4.50   ...       0       0
1     2010-01-05 16:52:16.0000002        16.90   ...       0       1
2    2011-08-18 00:35:00.00000049         5.70   ...       0       0
3     2012-04-21 04:30:42.0000001         7.70   ...       0       0
4   2010-03-09 07:51:00.000000135         5.30   ...       0       1
5     2011-01-06 09:50:45.0000002        12.10   ...       0       1
6     2012-11-20 20:35:00.0000001         7.50   ...       1       0
7    2012-01-04 17:22:00.00000081        16.50   ...       0       1
8   2012-12-03 13:10:00.000000125         9.00   ...       1       0
9    2009-09-02 01:11:00.00000083         8.90   ...       0       0
10    2012-04-08 07:30:50.0000002         5.30   ...       0       0
11   2012-12-24 11:24:00.00000098         5.50   ...       1       0
12    2009-11-06 01:04:03.0000002         4.10   ...       1       0
13  2013-07-02 19:54:00.000000232         7.00   ...       0       0
14    2011-04-05 17:11:05.0000001         7.70   ...       0       0
15  2013-11-23 12:57:00.000000190         5.00   ...       1       0
16   2014-02-19 07:22:00.00000074        12.50   ...       0       1
17  2009-07-22 16:08:00.000000163         5.30   ...       0       0
18   2010-07-07 14:52:00.00000044         5.30   ...       0       0
19    2014-12-06 20:36:22.0000008         4.00   ...       1       0
20  2010-09-07 13:18:00.000000175        10.50   ...       0       0
21    2013-02-12 12:15:46.0000002        11.50   ...       0       1
22    2009-08-06 18:17:23.0000001         4.50   ...       0       0
23  2010-12-06 12:29:00.000000199         4.90   ...       1       0
24   2009-12-10 15:37:00.00000020         6.10   ...       1       0
25   2011-06-21 16:15:00.00000073         7.30   ...       0       0
26  2011-02-07 20:01:00.000000114         6.50   ...       0       1
27  2011-06-28 19:47:00.000000168         4.50   ...       0       0
28    2012-05-04 06:11:20.0000002         9.30   ...       0       0
29   2013-08-11 00:52:00.00000026         4.50   ...       0       0
..                            ...          ...   ...     ...     ...
70    2009-08-02 02:34:11.0000002         6.90   ...       0       0
71   2010-01-31 10:53:00.00000010         3.70   ...       0       1
72  2010-05-14 08:09:00.000000210         6.90   ...       0       0
73   2012-05-21 15:20:00.00000017        10.10   ...       0       0
74    2014-12-08 16:00:01.0000001        16.50   ...       1       0
75   2010-08-16 01:33:00.00000034        15.07   ...       0       0
76    2010-12-04 14:26:13.0000003         7.70   ...       1       0
77   2011-08-12 04:20:00.00000015        24.90   ...       0       0
78   2013-02-06 22:16:00.00000028         7.00   ...       0       1
79    2014-06-11 22:24:21.0000001         8.50   ...       0       0
80  2010-08-19 16:33:00.000000131         5.70   ...       0       0
81   2013-03-10 15:44:00.00000040         5.00   ...       0       1
82    2013-06-14 08:27:43.0000001         8.50   ...       0       0
83   2013-07-08 21:24:00.00000048        17.00   ...       0       0
84    2014-03-21 11:00:29.0000003         8.00   ...       0       1
85    2014-10-02 13:39:56.0000004        12.00   ...       1       0
86    2011-08-31 08:21:47.0000004        12.50   ...       0       0
87   2014-05-19 06:26:00.00000034         7.50   ...       0       0
88   2012-04-05 05:50:00.00000019         6.90   ...       0       0
89    2015-03-04 14:55:40.0000006         5.00   ...       0       1
90    2010-04-27 21:40:07.0000004        10.50   ...       0       0
91    2011-02-22 11:09:16.0000004         7.70   ...       0       1
92    2015-04-03 16:21:30.0000005        11.00   ...       0       0
93    2009-01-09 15:01:20.0000002         5.70   ...       0       1
94  2013-01-09 14:42:00.000000194         9.00   ...       0       1
95  2013-07-06 17:18:00.000000119        13.50   ...       0       0
96   2013-10-08 17:29:00.00000025         7.50   ...       1       0
97    2014-12-07 12:26:00.0000009         9.00   ...       1       0
98    2015-05-17 08:02:59.0000002        14.00   ...       0       0
99   2011-06-09 00:53:00.00000066         5.70   ...       0       0

[100 rows x 19 columns]

In [91]:
# print(train.year.min(),train.year.max())
# print(test.year.min(),test.year.max())
def distance(lat1, lon1, lat2, lon2):
    p = 0.017453292519943295 # Pi/180
    a = 0.5 - np.cos((lat2 - lat1) * p)/2 + np.cos(lat1 * p) * np.cos(lat2 * p) * (1 - np.cos((lon2 - lon1) * p)) / 2
    return 0.6213712 * 12742 * np.arcsin(np.sqrt(a))

2009 2015
2009 2015

## step 3.2 : Coordinate features

* * Latitude difference (difference from pickup and dropout latitudes)
* * Longitude difference (difference from pickup and dropout longitudes)

In [ ]:
def add_coordinate_features(df):
    lat1 = df['pickup_latitude']
    lat2 = df['dropoff_latitude']
    lon1 = df['pickup_longitude']
    lon2 = df['dropoff_longitude']
    # Add new features
    df['latdiff'] = (lat1 - lat2)
    df['londiff'] = (lon1 - lon2)
    return df

## step 3.3 : Distances features

In [ ]:
def manhattan(pickup_lat, pickup_long, dropoff_lat, dropoff_long):
    return np.abs(dropoff_lat - pickup_lat) + np.abs(dropoff_long - pickup_long)
def add_distances_features(df):
    # Add distances from airpot and downtown
    ny = (-74.0063889, 40.7141667)
    jfk = (-73.7822222222, 40.6441666667)
    ewr = (-74.175, 40.69)
    lgr = (-73.87, 40.77)
    
    lat1 = df['pickup_latitude']
    lat2 = df['dropoff_latitude']
    lon1 = df['pickup_longitude']
    lon2 = df['dropoff_longitude']
    
    df['euclidean'] = (df['latdiff'] ** 2 + df['londiff'] ** 2) ** 0.5
    df['manhattan'] = manhattan(lat1, lon1, lat2, lon2)
    
    df['downtown_pickup_distance'] = manhattan(ny[1], ny[0], lat1, lon1)
    df['downtown_dropoff_distance'] = manhattan(ny[1], ny[0], lat2, lon2)
    df['jfk_pickup_distance'] = manhattan(jfk[1], jfk[0], lat1, lon1)
    df['jfk_dropoff_distance'] = manhattan(jfk[1], jfk[0], lat2, lon2)
    df['ewr_pickup_distance'] = manhattan(ewr[1], ewr[0], lat1, lon1)
    df['ewr_dropoff_distance'] = manhattan(ewr[1], ewr[0], lat2, lon2)
    df['lgr_pickup_distance'] = manhattan(lgr[1], lgr[0], lat1, lon1)
    df['lgr_dropoff_distance'] = manhattan(lgr[1], lgr[0], lat2, lon2)
    return df

## step 4 : Process data

In [ ]:

add_coordinate_features(train)
add_coordinate_features(test)
train = add_distances_features(train)
test = add_distances_features(test)
train.head()

In [ ]:
dropped_columns = ['pickup_longitude', 'pickup_latitude', 
                   'dropoff_longitude', 'dropoff_latitude']
train_clean = train.drop(dropped_columns, axis=1)
test_clean = test.drop(dropped_columns + ['key', 'passenger_count'], axis=1)

# peek data
train_clean.head()

## step 5 : Split data in train and validation

In [ ]:
train_df, validation_df = train_test_split(train_clean, test_size=0.10, random_state=1)
# Get labels
train_labels = train_df['fare_amount'].values
validation_labels = validation_df['fare_amount'].values
train_df = train_df.drop(['fare_amount'], axis=1)
validation_df = validation_df.drop(['fare_amount'], axis=1)

In [ ]:
scaler = preprocessing.MinMaxScaler()
train_df_scaled = scaler.fit_transform(train_df)
validation_df_scaled = scaler.transform(validation_df)
test_scaled = scaler.transform(test_clean)

## step 6 : Create Model

In [ ]:
BATCH_SIZE = 256
EPOCHS = 20
LEARNING_RATE = 0.001
model = Sequential()
model.add(Dense(256, activation='relu', input_dim=train_df_scaled.shape[1], activity_regularizer=regularizers.l1(0.01)))
model.add(BatchNormalization())
model.add(Dense(128, activation='relu'))
model.add(BatchNormalization())
model.add(Dense(64, activation='relu'))
model.add(BatchNormalization())
model.add(Dense(32, activation='relu'))
model.add(BatchNormalization())
model.add(Dense(8, activation='relu'))
model.add(BatchNormalization())
model.add(Dense(1))
adam = optimizers.Adam(lr=LEARNING_RATE)
model.compile(loss='mse', optimizer=adam, metrics=['mae'])

## step 7 : Training Model

In [ ]:
history = model.fit(x=train_df_scaled, y=train_labels, batch_size=BATCH_SIZE, epochs=EPOCHS, 
                    verbose=1, validation_data=(validation_df_scaled, validation_labels), 
                    shuffle=True)

In [ ]:
plt.figure(figsize=(20,10))
plt.plot(history.history['loss'])
plt.plot(history.history['val_loss'])
plt.title('model loss')
plt.ylabel('loss')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper right')
plt.show()

In [ ]:
prediction = model.predict(test_scaled, batch_size=128, verbose=1)

In [ ]:
def output_submission(raw_test, prediction, id_column, prediction_column, file_name):
    df = pd.DataFrame(prediction, columns=[prediction_column])
    df[id_column] = raw_test[id_column]
    df[[id_column, prediction_column]].to_csv((file_name), index=False)
    print('Output complete')
output_submission(test, prediction, 'key', 'fare_amount', SUBMISSION_NAME)