## With over **2000** responses lets look at what do people in Germany have to say üá©üá™

In [ ]:
import numpy as np 
import pandas as pd 
import os
import math
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

plt.rcParams['figure.figsize'] = (8,8) 
plt.rcParams["figure.dpi"] = 80 

sns.set(style="ticks")
sns.set_context("poster", font_scale = .5, rc={"grid.linewidth": 5})

DIR = '/kaggle/input/kaggle-survey-2017/'
df_17 = pd.read_csv(DIR + 'multipleChoiceResponses.csv', low_memory=False, encoding='latin-1')

DIR = '/kaggle/input/kaggle-survey-2018/'
df_18 = pd.read_csv(DIR + 'multipleChoiceResponses.csv', low_memory=False, header=[0,1])
df_18.columns = ['_'.join(col) for col in df_18.columns]

DIR = '/kaggle/input/kaggle-survey-2019/'
df_19 = pd.read_csv(DIR + 'multiple_choice_responses.csv', low_memory=False, encoding='latin-1', header=[0,1])
df_19.columns = ['_'.join(col) for col in df_19.columns]

DIR = '/kaggle/input/kaggle-survey-2020/'
df_20 = pd.read_csv(DIR + 'kaggle_survey_2020_responses.csv', low_memory=False, header=[0,1])
df_20.columns = ['_'.join(col) for col in df_20.columns]


df_17.rename(columns = {
    'Country':'country',
    'GenderSelect': 'gender',
    'Age': 'age',
    'FormalEducation': 'education',
    'CurrentJobTitleSelect': 'job_title',
    'Tenure': 'years_experience',
    'CompensationAmount': 'salary'
}, inplace = True)

df_18.rename(columns = {
    'Q3_In which country do you currently reside?':'country',
    'Q1_What is your gender? - Selected Choice': 'gender',
    'Q2_What is your age (# years)?': 'age',
    'Q4_What is the highest level of formal education that you have attained or plan to attain within the next 2 years?': 'education',
    'Q6_Select the title most similar to your current role (or most recent title if retired): - Selected Choice': 'job_title',
    'Q8_How many years of experience do you have in your current role?': 'years_experience',
    'Q9_What is your current yearly compensation (approximate $USD)?': 'salary'
}, inplace = True)

df_19.rename(columns = {
    'Q3_In which country do you currently reside?':'country',
    'Q2_What is your gender? - Selected Choice': 'gender',
    'Q1_What is your age (# years)?': 'age',
    'Q4_What is the highest level of formal education that you have attained or plan to attain within the next 2 years?': 'education',
    'Q5_Select the title most similar to your current role (or most recent title if retired): - Selected Choice': 'job_title',
    'Q15_How long have you been writing code to analyze data (at work or at school)?': 'years_experience',
    'Q10_What is your current yearly compensation (approximate $USD)?': 'salary'
}, inplace = True)

df_20.rename(columns = {
    'Q3_In which country do you currently reside?':'country',
    'Q2_What is your gender? - Selected Choice': 'gender',
    'Q1_What is your age (# years)?': 'age',
    'Q4_What is the highest level of formal education that you have attained or plan to attain within the next 2 years?': 'education',
    'Q5_Select the title most similar to your current role (or most recent title if retired): - Selected Choice': 'job_title',
    'Q6_For how many years have you been writing code and/or programming?': 'years_experience',
    'Q24_What is your current yearly compensation (approximate $USD)?': 'salary'
}, inplace = True)

cols = ['country', 'gender', 'age', 'education', 'job_title', 'years_experience', 'salary']

df_17 = df_17[cols].copy()
df_18 = df_18[cols].copy()
df_19 = df_19[cols].copy()
df_20 = df_20[cols].copy()

df_17['year'] = 2017
df_18['year'] = 2018
df_19['year'] = 2019
df_20['year'] = 2020

df = pd.concat([df_17, df_18, df_19, df_20], ignore_index=True)

df = df[(df["country"] == "Germany")].copy()

In [ ]:
adict= {
    'Male': 'Man', 
    'Man': 'Man', 
    'Female': "Woman", 
    'Woman': 'Woman'
}
df['gender'] = df["gender"].map(adict)

adict= {
    10.0: '18-21',
    17.0: '18-21',
    '18-21': '18-21',
    19.0: '18-21',
    20.0: '18-21',
    21.0: '18-21',
    
    '22-24': '22-24',
    22.0: '22-24',
    23.0: '22-24',
    24.0: '22-24',
    
    '25-29': '25-29',
    25.0: '25-29',
    26.0: '25-29',
    27.0: '25-29',
    28.0: '25-29',
    29.0: '25-29',
    
    '30-34': '30-34',
    30.0: '30-34',
    31.0: '30-34',
    32.0: '30-34',
    33.0: '30-34',
    34.0: '30-34',
    
    '35-39': '35-39',
    35.0: '35-39',
    36.0: '35-39',
    37.0: '35-39',
    38.0: '35-39',
    39.0: '35-39',
    
    '40-44': '40-44',
    40.0: '40-44',
    41.0: '40-44',
    42.0: '40-44',
    43.0: '40-44',
    44.0: '40-44',
    
    '45-49': '45-49',
    45.0: '45-49',
    46.0: '45-49',
    47.0: '45-49',
    48.0: '45-49',
    49.0: '45-49',
    
    '50-54': '50-54',
    50.0: '50-54',
    51.0: '50-54',
    52.0: '50-54',
    53.0: '50-54',
    
    '55-59': '55-59',
    55.0: '55-59',
    56.0: '55-59',
    57.0: '55-59',
    58.0: '55-59',
    59.0: '55-59',
    
    '60-69': '60+',
    61.0: '60+',
    65.0: '60+',
    66.0: '60+',
    67.0: '60+',
    69.0: '60+',
    '70+': '60+',
    '70-79': '60+',
    '80+': '60+',
}
df['age'] = df["age"].map(adict)

adict = {
    "Some college/university study without earning a bachelor's degree": 'Some college/university study without earning a bachelor‚Äôs degree',
    'Some college/university study without earning a bachelor√¢\x80\x99s degree': 'Some college/university study without earning a bachelor‚Äôs degree',
    'Some college/university study without earning a bachelor‚Äôs degree': 'Some college/university study without earning a bachelor‚Äôs degree',
    
    "Bachelor's degree": 'Bachelor‚Äôs degree',
    'Bachelor√¢\x80\x99s degree': 'Bachelor‚Äôs degree',
    'Bachelor‚Äôs degree': 'Bachelor‚Äôs degree',
    
    "Master's degree": 'Master‚Äôs degree',
    'Master√¢\x80\x99s degree': 'Master‚Äôs degree',
    'Master‚Äôs degree': 'Master‚Äôs degree',
    'Professional degree': 'Master‚Äôs degree',
    
    'Doctoral degree': 'Doctoral degree',
}
df['education'] = df["education"].map(adict)

adict = {
    'Business Analyst': 'Analyst',
    'Data Analyst': 'Analyst',
    'Marketing Analyst': 'Analyst',
    'Consultant': 'Analyst',
    
    'DBA/Database Engineer': 'Data Engineer',
    'Data Miner': 'Data Engineer',
    'Data Engineer': 'Data Engineer',
    
    'Machine Learning Engineer': 'Data Scientist',
    'Statistician': 'Data Scientist',
    'Data Scientist': 'Data Scientist',
    
    'Currently not employed': 'Not employed',
    'Not employed': 'Not employed',
    
    'Developer Advocate': 'Other',
    'Predictive Modeler': 'Other',
    'Principal Investigator': 'Other',
    'Salesperson': 'Other',
    'Other': 'Other',
    
    'Product/Project Manager': 'Manager',
    'Chief Officer': 'Manager',    
    'Manager': 'Manager',    
    
    'Scientist/Researcher': 'Researcher',
    'Research Assistant': 'Researcher',
    'Research Scientist': 'Researcher',
    'Computer Scientist': 'Researcher',
    'Researcher': 'Researcher',
    
    'Programmer': 'Software Engineer',
    'Software Developer/Software Engineer': 'Software Engineer',
    'Engineer': 'Software Engineer',
    'Software Engineer': 'Software Engineer',
    
    'Student': 'Student',
}
df['job_title'] = df["job_title"].map(adict)
df['job_title'].fillna(value='Other', inplace=True)

adict = {
    '0-1': '0-1',
    '< 1 years': '0-1',
    "I don't write code to analyze data": '0-1',
    'I have never written code': '0-1',
    'Less than a year': '0-1',
    
    '1-2': '1-2',
    '1 to 2 years': '1-2',
    '1-2 years': '1-2',
    
    
    '2-3': '3-5',
    '3-4': '3-5',
    '4-5': '3-5',
    '3 to 5 years': '3-5',
    '3-5 years': '3-5',
    
    '5-10': '5-10',
    '5-10 years': '5-10',
    '6 to 10 years': '5-10',
    
    '10-15': '10+',
    '10-20 years': '10+',
    '15-20': '10+',
    '20+ years': '10+',
    '20-25': '10+',
    '25-30': '10+',
    '30 +': '10+',
    'More than 10 years': '10+',
}
df['years_experience'] = df["years_experience"].map(adict)

# 60,000-69,999 
adict = {
    # 0-30k
    '$0-999': '0-29,999',
    '0': '0-29,999',
    '0-10,000': '0-29,999',
    '1,000-1,999': '0-29,999',
    '2,000-2,999': '0-29,999',
    '10,000': '0-29,999',
    '10,000-14,999': '0-29,999',
    '10-20,000': '0-29,999',
    '15,000-19,999': '0-29,999',
    '20000': '0-29,999',
    '20,000-24,999': '0-29,999',
    '20-30,000': '0-29,999',
    '24000': '0-29,999',
    '25,000-29,999': '0-29,999',
    '25000': '0-29,999',
    '28000': '0-29,999',
    '3,000-3,999': '0-29,999',
    '4,000-4,999': '0-29,999',
    '480': '0-29,999',
    '5,000-7,499': '0-29,999',
    '5,400': '0-29,999',
    '5000': '0-29,999',
    '7,500-9,999': '0-29,999',
    '11000': '0-29,999',
    '12000': '0-29,999',
    '15000': '0-29,999',
    '15600': '0-29,999',
    '18800': '0-29,999',
    '19200': '0-29,999',
    
    # 30-50k
    '30,000': '30,000-49,999',
    '30,000-39,999': '30,000-49,999',
    '30-40,000': '30,000-49,999',
    '30000': '30,000-49,999',
    '33000': '30,000-49,999',
    '35,000': '30,000-49,999',
    '35000': '30,000-49,999',
    '36,000': '30,000-49,999',
    '36000': '30,000-49,999',
    '40,000': '30,000-49,999',
    '40,000-49,999': '30,000-49,999',
    '40-50,000': '30,000-49,999',
    '40000': '30,000-49,999',
    '42000': '30,000-49,999',
    '43000': '30,000-49,999',
    '44,000': '30,000-49,999',
    '44000': '30,000-49,999',
    '45000': '30,000-49,999',
    '46,000': '30,000-49,999',
    '46000': '30,000-49,999',
    '47,000': '30,000-49,999',
    '48,000': '30,000-49,999',
    
    #50-60k
    '50,000-59,999': '50,000-59,999',
    '50-60,000': '50,000-59,999',
    '50000': '50,000-59,999',
    '51000': '50,000-59,999',
    '53000': '50,000-59,999',
    '54,000': '50,000-59,999',
    '55000': '50,000-59,999',
    '55500': '50,000-59,999',
    '56500': '50,000-59,999',
    '57,000': '50,000-59,999',
    '58000': '50,000-59,999',
    
    #60-70k
    '60,000-69,999': '60,000-69,999',
    '60-70,000': '60,000-69,999',
    '60,000':'60,000-69,999',
    '60000': '60,000-69,999',
    '62000': '60,000-69,999',
    '65000': '60,000-69,999',
    '67000': '60,000-69,999',
    '68000': '60,000-69,999',
    
    #70-80k
    '70000': '70,000-79,999',
    '70,000-79,999': '70,000-79,999',
    '70-80,000': '70,000-79,999',
    '72000': '70,000-79,999',
    '75000': '70,000-79,999',
    '76000': '70,000-79,999',
    '78000': '70,000-79,999',
    
    #80-90
    '80000': '80,000-89,999',
    '80,000-89,999': '80,000-89,999',
    '80-90,000': '80,000-89,999',
    '83000': '80,000-89,999',
    '84000': '80,000-89,999',
    '85000': '80,000-89,999',
    '89,000': '80,000-89,999',
    
    #90-100k
    '90,000': '90,000-99,999',
    '90,000-99,999': '90,000-99,999',
    '90-100,000': '90,000-99,999',
    '90000': '90,000-99,999',
    '93000': '90,000-99,999',
    '95000': '90,000-99,999',
    '98000': '90,000-99,999',
    
    # 100-125k
    '100,000-124,999': '100,000-124,999',
    '100-125,000': '100,000-124,999',
    '100000': '100,000-124,999',
    '106000': '100,000-124,999',
    '110000': '100,000-124,999',
    '120000': '100,000-124,999',
    
    # 125-150k
    '125,000-149,999': '125,000-149,999',
    '125-150,000': '125,000-149,999',
    '125000': '125,000-149,999',
    
    # 150-200k
    '150,000-199,999': '150,000-199,999',
    '150-200,000': '150,000-199,999',
    '150000': '150,000-199,999',
    '170000': '150,000-199,999',
    
    # 200-250k
    '200,000-249,999': '200,000+',
    '200-250,000': '200,000+',
    '200000': '200,000+',
    '220000': '200,000+',
    
    # 250-300k
    '250,000-299,999': '200,000+',
    '250-300,000': '200,000+',
    
    # 300k+
    '300,000-500,000': '200,000+',
    '500,000+': '200,000+',
    '850,000': '200,000+',
    '> $500,000': '200,000+',
}
df['salary'] = df["salary"].map(adict)

In [ ]:
print("Number of respondents:",len(df))
# df.sample(5)

## üë®üë© Men still dominate the field but the ratio in Women is steadily increasing

In [ ]:
col = "gender"
question = "What's your gender?"

gr = pd.DataFrame(df.groupby([col, "year"]).size()).reset_index()
gr["size"] = gr.groupby("year")[0].transform(np.sum)
gr.columns = [col, "year", "percent", "size"]

gr["percent"] = np.round(100*gr["percent"]/gr["size"])
gr = gr[gr.percent > 0]

ax = sns.catplot(
    x='percent', y=col, data=gr, kind="bar", hue="year", height=4,
    order = ["Man", "Woman"],
    palette=np.array(['#f0f0f0', '#bdbdbd', '#636363', '#2DA5EA']),
    legend=None,
)

ax.set(xlabel='Percentage', ylabel='', title=question)
plt.legend(bbox_to_anchor=(1.01, 1), loc=2, borderaxespad=0.)
sns.despine()
plt.tight_layout()
plt.show()

## Because this is a rather new field millennials dominate the market üçï

In [ ]:
col = "age"
question = "What's your age?"

gr = pd.DataFrame(df.groupby([col, "year"]).size()).reset_index()
gr["size"] = gr.groupby("year")[0].transform(np.sum)
gr.columns = [col, "year", "percent", "size"]

gr["percent"] = np.round(100*gr["percent"]/gr["size"])
gr = gr[gr.percent > 0]

ax = sns.catplot(
    x='percent', y=col, data=gr, kind="bar", hue="year", height=6,
    palette=np.array(['#f0f0f0', '#bdbdbd', '#636363', '#2DA5EA']),
    legend=None,
)

ax.set(xlabel='Percentage', ylabel='', title=question)
plt.legend(bbox_to_anchor=(1.01, 1), loc=2, borderaxespad=0.)
sns.despine()
plt.tight_layout()
plt.show()

## One does need atleast a Master's degree üéìüéì

In [ ]:
col = "education"
question = "What's your highest level of formal education?"

gr = pd.DataFrame(df.groupby([col, "year"]).size()).reset_index()
gr["size"] = gr.groupby("year")[0].transform(np.sum)
gr.columns = [col, "year", "percent", "size"]

gr["percent"] = np.round(100*gr["percent"]/gr["size"])
gr = gr[gr.percent > 0]

ax = sns.catplot(
    x='percent', y=col, data=gr, kind="bar", hue="year", height=4,
    order = ['Some college/university study without earning a bachelor‚Äôs degree',
       'Bachelor‚Äôs degree', 'Master‚Äôs degree', 'Doctoral degree', ],
    palette=np.array(['#f0f0f0', '#bdbdbd', '#636363', '#2DA5EA']),
    legend=None,
)

ax.set(xlabel='Percentage', ylabel='', title=question)
plt.legend(bbox_to_anchor=(1.01, 1), loc=2, borderaxespad=0.)
sns.despine()
plt.tight_layout()
plt.show()

In [ ]:
col = "job_title"
question = "What's your current job role?"

gr = pd.DataFrame(df.groupby([col, "year"]).size()).reset_index()
gr["size"] = gr.groupby("year")[0].transform(np.sum)
gr.columns = [col, "year", "percent", "size"]

gr["percent"] = np.round(100*gr["percent"]/gr["size"])
gr = gr[gr.percent > 0]

ax = sns.catplot(
    x='percent', y=col, data=gr, kind="bar", hue="year", height=6,
    order = ['Data Scientist', 
             'Data Engineer', 
             'Software Engineer',
             'Analyst', 
             'Manager', 
             'Other', 
             'Researcher', 
             'Student',
             'Not employed'
            ],
    palette=np.array(['#f0f0f0', '#bdbdbd', '#636363', '#2DA5EA']),
    legend=None,
)

ax.set(xlabel='Percentage', ylabel='', title=question)
plt.legend(bbox_to_anchor=(1.01, 1), loc=2, borderaxespad=0.)
sns.despine()
plt.tight_layout()
plt.show()

## ü¶æüí™ As application of Machine Learning is increasing more and more people are becoming veterans

In [ ]:
col = "years_experience"
question = "How many years of experience do you have?"

gr = pd.DataFrame(df.groupby([col, "year"]).size()).reset_index()
gr["size"] = gr.groupby("year")[0].transform(np.sum)
gr.columns = [col, "year", "percent", "size"]

gr["percent"] = np.round(100*gr["percent"]/gr["size"])
gr = gr[gr.percent > 0]

ax = sns.catplot(
    x='percent', y=col, data=gr, kind="bar", hue="year", height=4,
    order = ['0-1', '1-2', '3-5', '5-10', '10+'],
    palette=np.array(['#f0f0f0', '#bdbdbd', '#636363', '#2DA5EA']),
    legend=None,
)

ax.set(xlabel='Percentage', ylabel='', title=question)
plt.legend(bbox_to_anchor=(1.01, 1), loc=2, borderaxespad=0.)
sns.despine()
plt.tight_layout()
plt.show()

## Compensation may be on the rise again 
As per [official](https://con.arbeitsagentur.de/prod/entgeltatlas/tabelle?region=1&geschlecht=1&branche=1&dkz=129987&mode=3&gruppe=1) numbers the median salary on a data scientist in Germany is around 80,000 USD (68,000 EUR)

In [ ]:
col = "salary"
question = "Whats your current yearly compensation (USD)?"

gr = pd.DataFrame(df.groupby([col, "year"]).size()).reset_index()
gr["size"] = gr.groupby("year")[0].transform(np.sum)
gr.columns = [col, "year", "percent", "size"]

gr["percent"] = np.round(100*gr["percent"]/gr["size"])
gr = gr[gr.percent > 0]

ax = sns.catplot(
    x='percent', y=col, data=gr, kind="bar", hue="year", height=6,
    order = [
        '0-29,999', 
        '30,000-49,999', 
        '50,000-59,999', 
        '60,000-69,999', 
        '70,000-79,999',
        '80,000-89,999', 
        '90,000-99,999', 
        '100,000-124,999', 
        '125,000-149,999', 
        '150,000-199,999', 
        '200,000+',
    ],
    palette=np.array(['#f0f0f0', '#bdbdbd', '#636363', '#2DA5EA']),
    legend=None,
)

ax.set(xlabel='Percentage', ylabel='', title=question)
plt.legend(bbox_to_anchor=(1.01, 1), loc=2, borderaxespad=0.)
sns.despine()
plt.tight_layout()
plt.show()

## In conclusion
A typical data scientist in Germany is a millennial male with a master's degree and over 2 years of work experience who earns around 80,000 USD.

üë®‚Äçüíª

In [ ]:
df.to_csv("germany_survey_results.csv", sep=";", index=False)