In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt

In [3]:
print(os.listdir("../input"))

['train.csv', 'sample_submission.csv', 'test.csv']

In [4]:
train = pd.read_csv("../input/train.csv")
test = pd.read_csv("../input/test.csv")

In [5]:
Simple_sampling = train.sample(20000)

In [6]:
from sklearn import tree
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [7]:
X = Simple_sampling.values[:, 2:203]
Y = Simple_sampling.values[:,1].astype(bool)

In [8]:
X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size = 0.3, random_state = 10000)

In [9]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
clf_gini = DecisionTreeClassifier(criterion = "gini", random_state = 10000,
                               max_depth=3, min_samples_leaf=5)
clf_gini.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False,
            random_state=10000, splitter='best')

In [10]:
y_pred = clf_gini.predict(X_test)
y_pred

array([False, False, False, ..., False, False, False])

In [11]:
accuracy= accuracy_score(y_test,y_pred)*100

In [77]:
accuracy

89.83333333333333

In [13]:
#test_sample= test.sample(20000)

X = test.values[:, 1:202]

In [14]:
X.shape

(200000, 200)

In [78]:
test_pred = clf_gini.predict(X)

In [79]:
Target = test_pred.astype(int)

In [80]:
Target.shape

(200000,)

In [81]:
Target = pd.DataFrame(Target)

In [61]:
#Target.rename(columns={'0':'Target'}, inplace=True)
df = Target.rename({'0':'Targets'}, axis=1)

In [62]:
df

        0
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
...    ..
199970  0
199971  0
199972  0
199973  0
199974  0
199975  0
199976  0
199977  0
199978  0
199979  0
199980  0
199981  0
199982  0
199983  0
199984  0
199985  0
199986  0
199987  0
199988  0
199989  0
199990  0
199991  0
199992  0
199993  0
199994  0
199995  0
199996  0
199997  0
199998  0
199999  0

[200000 rows x 1 columns]

In [82]:
Sample_submission = pd.read_csv("../input/sample_submission.csv")
Output = Sample_submission.drop(['target'], axis=1)
Output

            ID_code
0            test_0
1            test_1
2            test_2
3            test_3
4            test_4
5            test_5
6            test_6
7            test_7
8            test_8
9            test_9
10          test_10
11          test_11
12          test_12
13          test_13
14          test_14
15          test_15
16          test_16
17          test_17
18          test_18
19          test_19
20          test_20
21          test_21
22          test_22
23          test_23
24          test_24
25          test_25
26          test_26
27          test_27
28          test_28
29          test_29
...             ...
199970  test_199970
199971  test_199971
199972  test_199972
199973  test_199973
199974  test_199974
199975  test_199975
199976  test_199976
199977  test_199977
199978  test_199978
199979  test_199979
199980  test_199980
199981  test_199981
199982  test_199982
199983  test_199983
199984  test_199984
199985  test_199985
199986  test_199986
199987  test_199987
199988  test_199988
199989  test_199989
199990  test_199990
199991  test_199991
199992  test_199992
199993  test_199993
199994  test_199994
199995  test_199995
199996  test_199996
199997  test_199997
199998  test_199998
199999  test_199999

[200000 rows x 1 columns]

In [83]:
ProjectOutput = pd.concat([Output, Target], axis=1)

In [84]:
ProjectOutput

            ID_code  0
0            test_0  0
1            test_1  0
2            test_2  0
3            test_3  0
4            test_4  0
5            test_5  0
6            test_6  0
7            test_7  0
8            test_8  0
9            test_9  0
10          test_10  0
11          test_11  0
12          test_12  0
13          test_13  0
14          test_14  0
15          test_15  0
16          test_16  0
17          test_17  0
18          test_18  0
19          test_19  0
20          test_20  0
21          test_21  0
22          test_22  0
23          test_23  0
24          test_24  0
25          test_25  0
26          test_26  0
27          test_27  0
28          test_28  0
29          test_29  0
...             ... ..
199970  test_199970  0
199971  test_199971  0
199972  test_199972  0
199973  test_199973  0
199974  test_199974  0
199975  test_199975  0
199976  test_199976  0
199977  test_199977  0
199978  test_199978  0
199979  test_199979  0
199980  test_199980  0
199981  test_199981  0
199982  test_199982  0
199983  test_199983  0
199984  test_199984  0
199985  test_199985  0
199986  test_199986  0
199987  test_199987  0
199988  test_199988  0
199989  test_199989  0
199990  test_199990  0
199991  test_199991  0
199992  test_199992  0
199993  test_199993  0
199994  test_199994  0
199995  test_199995  0
199996  test_199996  0
199997  test_199997  0
199998  test_199998  0
199999  test_199999  0

[200000 rows x 2 columns]

In [85]:
ProjectOutput.to_csv("ProjectOutputFile(inbinary).csv")

In [86]:
ProjectOutput

            ID_code  0
0            test_0  0
1            test_1  0
2            test_2  0
3            test_3  0
4            test_4  0
5            test_5  0
6            test_6  0
7            test_7  0
8            test_8  0
9            test_9  0
10          test_10  0
11          test_11  0
12          test_12  0
13          test_13  0
14          test_14  0
15          test_15  0
16          test_16  0
17          test_17  0
18          test_18  0
19          test_19  0
20          test_20  0
21          test_21  0
22          test_22  0
23          test_23  0
24          test_24  0
25          test_25  0
26          test_26  0
27          test_27  0
28          test_28  0
29          test_29  0
...             ... ..
199970  test_199970  0
199971  test_199971  0
199972  test_199972  0
199973  test_199973  0
199974  test_199974  0
199975  test_199975  0
199976  test_199976  0
199977  test_199977  0
199978  test_199978  0
199979  test_199979  0
199980  test_199980  0
199981  test_199981  0
199982  test_199982  0
199983  test_199983  0
199984  test_199984  0
199985  test_199985  0
199986  test_199986  0
199987  test_199987  0
199988  test_199988  0
199989  test_199989  0
199990  test_199990  0
199991  test_199991  0
199992  test_199992  0
199993  test_199993  0
199994  test_199994  0
199995  test_199995  0
199996  test_199996  0
199997  test_199997  0
199998  test_199998  0
199999  test_199999  0

[200000 rows x 2 columns]